$primary: #DC143C;
$secondary: #F21E0A;
$accent: #D009E8;
$Black: #241D1F;
$black-75: rgba(36.47, 29.48, 30.88, 0.75);
$black-50: rgba(36.47, 29.48, 30.88, 0.50);
$black-25: rgba(36.47, 29.48, 30.88, 0.25);
$black-10: rgba(36.47, 29.48, 30.88, 0.10);
$black-5: rgba(36.47, 29.48, 30.88, 0.05);